$primary-color: #c1aa93;
$secondary-color: white;
$accent-color: #fdf2e8;

$primary-text: white;
$secondary-text: black;

$highlight-color: orange;
$watermark-color: #ffffff;
$pseudo-black: #2c2c2c;

$font-family: 'Arial', sans-serif;

$breakpoints: (
  m: 600px,
  s: 500px,
  xs: 400px
)
